body {
    margin: 0px;
    font-family: Arial;
    font-size: 14px;
    background-color: #F4F4F4;
}
/*---------------------header--------------------*/
#cabeza {
    border: 1px solid blue;
    height:100px;
    width:auto;
    background-color: #2E2D30;
    opacity: 0;
}
#cabeza_main {
    position: relative;
    width: 1200px;
    left: 50%;
    margin-left: -600px;
    height: auto;
}
.logo {
    position: absolute;
    margin-top: 13.5px;
    left: 15px;
}



/*----------------------------------------*/
/*-------------------nav-----------------*/
/*----------------------------------------*/
/*-----------------principal--------------*/
/*-----------------------------------------*/
/*------------------footer----------------*/
/*-----------------------------------------*/
